/* Google font */
.fira-sans{
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

body{
    margin: 0 auto;
    max-width: 1280px;
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 32px;
    font-weight: bold;
}
nav button{
    height: 52px;
    background-color: white;
    border-radius: 8px;
    width: 116px;
    color: green;
    font-size: 18px;
    font-weight: 600;
    border: green 1px solid;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    gap: 64px;
    padding: 0 60px;
    height: 560px;
    border-radius: 24px;
}
.banner-title{
    color: #0E0E0E;
    font-size: 24px;
}
.banner-heading{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}
.banner-heading p{
    margin: 0px;
}
.banner button{
    background-color: green;
    color: white;
    height: 56px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
}
.banner button:hover{
    background-color: red;
}
/* Pillers section styles */
.pillers{
    display: flex;
    gap: 24px;

}
.piller{
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 24px;
    border: 0px solid gray;
    background-color: white;
    
}
.piller-heading,.version-title,.opinion-title{
    font-size: 40px;
    font-weight: 700;
}
.piller-title,.version-card-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
    
}
/* vision future style */

.version-future{
    margin-bottom: 100px;
}
.version-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}
.version-card{
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 325px;
}
.version-btn{
    color: white;
    padding: 11px,20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    height: 40px;
    width: 112px;
    margin-top: 48px;
}
.version-card-title{
    margin-bottom: 24px;
}
.vision-article{
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none;
    padding: 48px 24px;
    margin-top: 32px;
}
.vision-article h4{
    margin: 0;
    font-size:20px;
}
.vision-article p{
    margin-top: 4px;
}
/* Opinion styles */
.opinion{
    margin-bottom: 100px;
}
.opinion table{
    border-collapse: collapse;
}
.table-div{
    height: 410px;
    padding: 32px;
}
.opinion table thead{
    background-color: rgba(198, 228, 214, 1);
    align-items: center;
    padding: 24px 24px;
}
.opinion table thead tr td{
    box-shadow: none;
}
.opinion table tr td{
    border: 0px solid black;
    padding: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: 600;
}
.opinion table tr,table{
    width: 1216px;
    height: 72px;
}
#thead{
    border-right: 0;
}
#t2head{
    border-left: none;
}
.opinion table select{
    height: 44px;
    width: 152px;
    background-color:  rgba(198, 228, 214, 1);
    font-weight: 600;
    padding-left: 10px;
}
